[data-app-theme="dark"] {
  --bg-main: #0f172a;
  --bg-surface: #1e293b;

  --txt-default: var(--gray-50);

  --separator-default: var(--gray-700);

  --bg-btn-main: var(--gray-600);
  --bg-btn-main-hover: var(--orange-600);

  --color-btn-theme: var(--gray-600);
  --border-btn-theme: var(--gray-600);
  --border-btn-theme-hover: var(--orange-500);

  --bg-overlay-success: rgba(13, 99, 45, 0.8);
  --bg-overlay-negative: rgba(101, 18, 18, 0.8);

  --scroll-color: var(--gray-700);
  --scroll-color-hover: var(--gray-600);

  --bg-popup: rgba(14, 13, 32, 0.9);
  --bg-popup-wrapper: #232d40;
}