[data-app-theme="light"]{
  --bg-main: #f8fafc;
  --bg-surface: #f1f5f9; 

  --txt-default: var(--gray-900);

  --separator-default: var(--gray-200);

  --bg-btn-main: var(--gray-900);
  --bg-btn-main-hover: var(--orange-600);
  
  --color-btn-theme: var(--gray-900);
  --border-btn-theme: var(--gray-900);
  --border-btn-theme-hover: var(--orange-600);

  --bg-overlay-success: rgba(22, 163, 74, 0.8);
  --bg-overlay-negative: rgb(220, 38, 38, 0.8);

  --scroll-color: var(--gray-400);
  --scroll-color-hover: var(--gray-500);

  --bg-popup: rgba(0, 0, 0, 0.8);
  --bg-popup-wrapper: #f1f5f9;

  --h2-color: var(--gray-900);
  --h3-color: var(--gray-900);

  --input-border-color: var(--gray-400);
  --input-border-color-hover: var(--gray-500);

  --field-text-color: var(--gray-900);

  --field-bg-hover: #d8dce0;

  --field-placeholder-color: var(--gray-400);

  --btn-text-color: var(--gray-900);
  --btn-text-color-hover: var(--orange-500);
}