.inputText{
  $root: &;
  --size: var(--standart-field-h);
  --padding: 16px;
  --placeholder-padding: 4px;

  min-height: var(--size);
  max-height: var(--size);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--input-border-color);
  padding: 0 var(--padding);
  border-radius: var(--br-default);
  cursor: text;
  transition: border var(--tr-default);

  @media(hover: hover){
    &:hover{
      border-color: var(--input-border-color-hover);
    }
  }

  &__field{
    color: var(--field-text-color);
    font-size: 14px;
    font-weight: 400;
  }

  &__placeholder{
    position: absolute;
    left: calc(var(--padding) - var(--placeholder-padding));
    padding: 0 var(--placeholder-padding);
    transition: transform var(--tr-default);
    transform: translate(0, 0);
  }

  &__field:focus + #{$root}__placeholder, 
  &__placeholder_active{
    transform: translate(-12px, -19px) scale(.85);
  }
}